USE [linnworks]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [lw].[OrderItem_full](
	[OrderId] [uniqueidentifier] NULL,
	[ParentItemId] [uniqueidentifier] NULL,
	[ParentTitle] [nvarchar](255) NULL,
	[ParentSKU] [nvarchar](50) NULL,
	[ParentQty] [int] NULL,
	[ParentUnitCost] [decimal](18, 4) NULL,
	[ParentSellPrice] [decimal](18, 4) NULL,
	[ParentTax] [decimal](18, 4) NULL,
	[ParentTaxRate] [decimal](5, 2) NULL,
	[ParentTotalIncTax] [decimal](18, 4) NULL,
	[ParentWeight] [decimal](18, 4) NULL,
	[ParentBinRack] [nvarchar](50) NULL,
	[SubItemId] [uniqueidentifier] NULL,
	[SubItemTitle] [nvarchar](255) NULL,
	[SubItemSKU] [nvarchar](50) NULL,
	[SubItemQty] [int] NULL,
	[SubItemUnitCost] [decimal](18, 4) NULL,
	[SubItemSellPrice] [decimal](18, 4) NULL,
	[SubItemTax] [decimal](18, 4) NULL,
	[SubItemTaxRate] [decimal](5, 2) NULL,
	[SubItemTotalIncTax] [decimal](18, 4) NULL,
	[SubItemWeight] [decimal](18, 4) NULL,
	[SubItemBinRack] [nvarchar](50) NULL,
	[LocationId] [nvarchar](100) NULL,
	[ParentItemSource] [nvarchar](50) NULL,
	[ParentStockItemId] [uniqueidentifier] NULL,
	[SubItemItemSource] [nvarchar](50) NULL,
	[SubItemStockItemId] [uniqueidentifier] NULL
) ON [PRIMARY]
GO
